*{
    margin: 0;
}
h1{
    text-align: center;
    color:#0f1c2d;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
}
h2{
    color: #a56252;
    padding-bottom: 30px;
    padding-top: 20px;
}
body{
    background-image: url(../img/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Serif Pro', serif;
}
#task{
    background-color: transparent;
    border: #7189ab 2px solid;
    width: 600px;
    height: 34px;
}
#btn{
    background-color: #b4bccd;
    border: #7189ab 2px solid;
    width: 130px;
    height: 40px;
}
#btn1{
    background-color: #b4bccd;
    border: #7189ab 2px solid;
    width: 200px;
    height: 40px;
    margin-left: 545px;
}
#text{
    color:lightgray;
}
.addTask{
    border: 2px solid #472e09;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    border-radius: 25px 0 25px 0;
}
.plans{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.line{
    border-bottom: 2px solid #7189ab;
    margin-bottom: 16px;
}
.done {
    text-decoration: line-through; 
    color: lightgray;
    display: flex;
    justify-content: space-between;
}
.allTasks{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .addTask{
        max-width: 600px;
    }
    #btn1{
        margin-left: 400px;
    }
    .plans{
        padding: 50px;
    }
}
@media screen and (max-width: 425px) {
    .addTask{
        max-width: 380px;
    }
    #task{
        width: 350px;
    }
    #btn1{
        margin-left: 190px;
    }
}